<template>
    <div>
        <h1>Hello Vue!!</h1>
        <login v-if="!isLoggedIn"/>
        <registration v-if="!isLoggedIn"/>
        <hr/>
        <div v-if="isLoggedIn">
            <button v-on:click="logout">logout</button>
            <button v-on:click="loadBooks">Load books</button>
            <h1>Hello {{ getUsername }}</h1>
            <ul v-if="getBooks.length > 0">
                <li v-for="book in getBooks">
                    <a :href="`/book/${book.id}`">{{book.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    import Login from "./Logn";
    import Registration from "./Registration";

    export default {
        name: 'App',
        components: {Registration, Login},
        computed: {
            isLoggedIn() {
                return this.$store.state.currentJWT;
            },
            getUsername() {
                return this.$store.getters.jwtData.username
            },
            getBooks() {
                return this.$store.state.books
            }
        },
        methods: {
            loadBooks() {
                this.$store.dispatch('fetchBooks');
            },
            logout() {
                this.$store.dispatch('logout')
            }
        },
    }
</script>
<style src="../../css/app.css">
</style>