<template>
    <div>
        <h1>Hi {{ bookId }}!</h1>
        <h2>I am {{ getUsername }}</h2>
        <ul>
            <li v-for="comment in getComments">{{ comment.body }}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Book",
        props: [
            'bookId'
        ],
        computed: {
            isLoggedIn() {
                return this.$store.state.currentJWT;
            },
            getUsername() {
                return this.$store.getters.jwtData.username
            },
            getComments() {
                return this.$store.state.reviews
            }
        },
        created() {
            this.fetchComments();

            const url = new URL('http://192.168.1.194:3000/hub');
            url.searchParams.append('topic', 'http://192.168.1.194:3000/demo/books/2.jsonld');
            const eventSource = new EventSource(url);
            eventSource.onmessage = e => {
                console.log(JSON.parse(e.data));
                this.fetchComments();
            }
        },
        methods: {
            fetchComments() {
                this.$store.dispatch('fetchComments', { bookId: this.bookId });
            }
        }
    }
</script>

<style scoped>

</style>