
<template>
    <div>
        <h1>Registration</h1>
        <input v-model="username" type="text" />
        <input v-model="password" type="password" />
        <button v-on:click="registration">Registration</button>
    </div>
</template>

<script>
    export default {
        name: "registration",
        data() {
            return {
                username: '',
                password: ''
            }
        },
        methods: {
            registration() {
                this.$store.dispatch('fetchRegistration', {
                    username: this.username,
                    password: this.password
                });
            }
        }
    }
</script>

