{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Hello from symfony</h1>

        <div id="app"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}