{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h4 class="row">
                <i class="fas fa-book"></i>
                {{ book.title }}
            </h4>
            <h4 class="row">
                <i class="fas fa-user"></i>
                {{ book.author }}
            </h4>
            <div class="row">
                <p class="lead">{{ book.description }}</p>
            </div>

            <div class="row">
                <i class="fas fa-barcode"></i>
                {{ book.isbn }}
            </div>

        </div>

        <div id="book" data-book-id="{{ book.id }}"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('book') }}
{% endblock %}